PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/autofabrication?schema=public"
CLIENT_URL="http://localhost:3000"
UPLOAD_DIR="./storage"
ADMIN_LOGIN="admin"
ADMIN_PASSWORD="admin12345"
ADMIN_FIRST_NAME="Главный"
ADMIN_LAST_NAME="Администратор"
ADMIN_MIDDLE_NAME=""
JWT_SECRET="change-this-super-secret-key"
JWT_EXPIRES_IN="7d"
AUTH_COOKIE_NAME="autofabrication_token"
