node_modules
.next
src/client/.next
src/client/next-env.d.ts
dist
src/server/dist
.turbo
coverage
*.log
*.tsbuildinfo
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
src/server/src/generated/
src/server/dev.db*
src/server/storage
