html.vkui--vkCom--light {
	--app-table-hover: #8cb9eb;
	--app-table-selected: #b3d4f1;
}

html.vkui--vkCom--dark {
	--app-table-hover: #919191 ;
	--app-table-selected: #474747;
}

:root {
	--app-border-radius: 12px;
	--app-distance-empty: 20px;
	--app-default-padding: 12px;
	--app-width-nav: 300px;
	--app-width-scroll: 8px;
	--app-table-width: calc(100vw - var(--app-width-nav) - var(--app-width-scroll) - calc(var(--app-distance-empty) * 3));
}

* { box-sizing: border-box }

a {
	all: unset;
	cursor: pointer;
}

html,
body {
	margin: 0;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}

.activated { pointer-events: none }

.vkuiSnackbar__fixed {
	padding: 6px 12px;
	&.vkuiSnackbar__placementTopStart,
	&.vkuiSnackbar__placementTopEnd {
		&:first-child {
			padding-top: 12px;
		}
	}
	&.vkuiSnackbar__placementBottomStart,
	&.vkuiSnackbar__placementBottomEnd {
		&:first-child {
			padding-bottom: 12px;
		}
	}
	.vkuiSnackbar__in {
		padding: unset;
		.vkuiBasic__body {
			padding-right: 20px;
		}

		.vkuiBasic__body {
			position: relative;
		}

		.vkuiButton__content {
			color: var(--vkui--color_text_accent);
		}

		.vkuiBasic__contentText {
			-webkit-line-clamp: unset;
			-webkit-box-orient: vertical;
		}
	}
}
.search { margin-left: auto; width: 250px }

.island {
	background-color: var(--vkui--color_background_content);
	border-radius: var(--app-border-radius);
	box-shadow: var(--vkui--elevation2);
	padding: var(--app-default-padding);
}

.modalForm {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: var(--app-default-padding);
}

.modalFooter {
	border-top: 1px solid var(--vkui--color_separator_primary);
	padding: var(--app-default-padding);
	display: flex;
	justify-content: space-between;
}

.scroll {
	max-height: 100%;
	overflow: auto;
	&::-webkit-scrollbar {
		width: var(--app-width-scroll);
		height: var(--app-width-scroll);
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--vkui--color_transparent--active);
		border-radius: var(--app-border-radius);
		&:hover {
			background: var(--vkui--color_transparent--hover);
		}
	}

	&::-webkit-scrollbar-corner {
		background: inherit;
	}

	&::-webkit-scrollbar-button {
		height: calc(var(--app-default-padding) / 2);
		width: calc(var(--app-default-padding) / 2);
	}
}

.disabled {
	&:not(.vkuiCustomSelect__host) {
		opacity: var(--vkui--opacity_disable) !important;
	}
	pointer-events: none !important;
}

.PhotoView-Slider__Overlay {
	position: relative;
	z-index: 11;
	transition: opacity .3s;
}

.vkuiModalPageHeader__host .vkuiPanelHeader__in {
	white-space: unset;
	height: auto;
	.vkuiPanelHeader__contentIn {
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		margin: 12px 0;
	}
}

.TableHeader {
	position: sticky;
	top: 0;
	z-index: 2;
	background: var(--vkui--color_background_content);
	&:after {
		content: '';
		display: block;
		position: absolute;
		inset: 0 0 0 0;
		width: var(--app-table-width);
		background-color: inherit;
		border-bottom: 1px solid var(--vkui--color_separator_primary);
	}
}

.TableBodyRow:after {
	content: '';
	display: block;
	position: absolute;
	inset: 0 0 0 0;
	width: var(--app-table-width);
	background-color: inherit;
	pointer-events: none;
}

.count-symbols .vkuiFormItem__bottom {
	margin-left: auto;
	width: fit-content;
}

.filters {
	display: flex;
	align-items: center;
	gap: var(--vkui--size_button_group_gap_small--regular);
}

.filter {
	position: relative;
	&__counter {
		position: absolute;
		right: -8px;
		bottom: -5px;
	}
}
