.wrap {
    overflow: hidden;
    padding: unset;
    flex-grow: 1;
    min-height: 0;
}

.scroll {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;

    &--disabled {
        overflow: hidden;
    }
}

.scrollDragging {
    [data-table-resize-handle] {
        pointer-events: none;

        &::before {
            background: transparent !important;
        }
    }
}

.plug {
    position: fixed;
    inset: 0;
    z-index: 3;

    &--drag {
        cursor: move;
    }

    &--resize {
        cursor: col-resize;
    }
}

.table {
    min-width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    user-select: none;

    &--editing {
        user-select: text;
    }
}

.empty,
.loading {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 41px);
}

.dragGhost {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
    border: 1px solid var(--vkui--color_separator_primary);
    border-radius: var(--app-border-radius);
    background: var(--vkui--color_background_content--hover);
    pointer-events: none;
}

.dragGhostInner {
    padding: 10px 12px;
    cursor: grabbing;
}
