.wrap {
    overflow: hidden;
    padding: unset;
    flex-grow: 1;
    min-height: 0;
}

.scroll {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
    &--disabled {
        overflow: hidden;
    }
}

.scrollDragging {
    .resizeHandle {
        pointer-events: none;
        &::before {
            background: transparent !important;
        }
    }
}

.plug {
    position: fixed;
    inset: 0;
    z-index: 3;
    &--drag {
        cursor: move;
    }
    &--resize {
        cursor: col-resize;
    }
}

.table {
    min-width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    user-select: none;
}

.headerCell,
.bodyCell {
    text-align: left;
    border-right: 1px solid var(--vkui--color_separator_primary);
}

.headerCell {
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0;
    vertical-align: middle;
    background: var(--vkui--color_background_content);
    border-bottom: 1px solid var(--vkui--color_separator_primary);
}

.headerCellActiveDrag,
.bodyCellActiveDrag {
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        background-color: var(--vkui--color_accent_azure);
        opacity: 0.2;
    }
}

.headerCellResizing,
.bodyCellResizing {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        width: 1px;
        background: var(--vkui--color_accent_azure);
    }
}

.headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 10px 10px 10px 15px;
    cursor: pointer;
    &--dragging {
        cursor: grabbing;
    }
}

.headerTitle {
    min-width: 0;
    overflow: hidden;
    color: var(--vkui--color_text_primary);
    font-weight: 600;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.resizeHandle {
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 5;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 4px;
        bottom: 0;
        width: 1px;
        background: transparent;
    }
    &:hover::before {
        background: var(--vkui--color_accent_azure);
    }
}

.bodyRow {
    cursor: pointer;
    &:nth-child(2n + 1) {
        background: var(--vkui--color_background);
    }
    &:hover:not(:has([data-table-ignore-hover]:hover)) {
        background: var(--app-table-hover) !important;
    }
    &--selected {
        background: var(--app-table-selected) !important;
    }
}

.bodyCell {
    position: relative;
    padding: 10px 10px 10px 15px;
    vertical-align: middle;
}

.cellText {
    min-width: 0;
    color: var(--vkui--color_text_primary);
    line-height: 20px;
}

.cellControl {
    display: flex;
    align-items: center;
    min-height: 20px;

    &Boolean {
        justify-content: center;
    }
}

.empty, .loading {
    position: sticky;
    left: 0;
    bottom: 0;
    height: calc(100% - 41px);
    width: 100%;
}

.dragGhost {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
    border: 1px solid var(--vkui--color_separator_primary);
    border-radius: var(--app-border-radius);
    background: var(--vkui--color_background_content--hover);
    pointer-events: none;
    .headerInner {
        padding: 10px 12px;
        cursor: grabbing;
    }
}

.footer {
    display: flex;
    align-items: center;
    gap: var(--app-distance-empty);
    justify-content: space-between;
    &__select {
        width: 80px;
        :global(.vkuiFormField__host) {
            min-height: 32px;
        }
        :global(.vkuiCustomSelectInput__el) {
            height: 32px;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 15px;
    &__pages {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    &__page {
        min-height: calc(var(--vkui--size_button_medium_height--compact) - 2px);
        border: 1px solid var(--vkui--color_separator_primary) !important;
        &--active {
            border: unset !important;
            pointer-events: none;
        }
    }
    &__jump {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    &__input {
        width: unset;
        min-width: 120px;
        flex-grow: 1;
        min-height: 32px;

        :global(.vkuiUnstyledTextField__host) {
            height: 32px;
        }
    }
}

.button {
    margin: auto;
}

.checkbox {
    height: 28px !important;
    width: 28px !important;
}
