.wrap {
    gap: var(--app-distance-empty);
    padding: var(--app-distance-empty);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 300px) 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--app-distance-empty);
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--vkui--color_background_content);
    border-radius: var(--app-border_radius);
    box-shadow: var(--vkui--elevation2);
    padding: 12px;
    justify-content: space-between;
}
