.bodyRow {
    cursor: pointer;
    position: relative;

    &--odd {
        background: var(--vkui--color_background);
    }

    &:not(.bodyRow--editing):hover:not(:has([data-table-ignore-hover]:hover)) {
        background: var(--app-table-hover) !important;
    }

    &--selected {
        background: var(--app-table-selected) !important;
    }

    &--editing {
        cursor: default;
    }
}

.bodySpacer {
    pointer-events: none;
}

.bodySpacerCell {
    padding: 0 !important;
    border: 0 !important;
}

.bodyCell {
    position: relative;
    padding: 10px 10px 10px 15px;
    vertical-align: middle;
    text-align: left;
    border-right: 1px solid var(--vkui--color_separator_primary);
    z-index: 1;

    &--editing {
        padding: 6px 7px;
    }

    &--invalid {
        background: var(--vkui--color_background_negative_tint);
        border: 1px dashed var(--vkui--color_background_negative);
        padding: 5px 7px;
    }
}

.bodyCellActiveDrag {
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        background-color: var(--vkui--color_accent_azure);
        opacity: 0.2;
    }
}

.bodyCellResizing {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        width: 1px;
        background: var(--vkui--color_accent_azure);
    }
}

.avatar {
    margin: 0 auto;
}

.cellInput {
    width: 100%;
    min-height: 28px;

    input {
        height: 28px !important;
        padding: 0 8px 1px 8px;
    }

    button {
        width: 28px !important;
        height: 28px !important;
    }
}

.cellControl {
    display: flex;
    align-items: center;
    min-height: 20px;
    overflow: hidden;

    &Boolean {
        justify-content: center;
    }

    &Status {
        justify-content: center;
    }
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px !important;
}

.button {
    margin: auto;
}

.checkbox {
    width: 28px !important;
    height: 28px !important;
}

.checkboxWrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
