.wrap {
    display: flex;
    gap: var(--app-distance-empty);
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--app-default-padding);
    min-width: var(--app-width-nav);
    height: fit-content;
}
