.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: var(--app-default-padding);
}

.file {
    background: var(--vkui--color_background_secondary);
}

.empty {
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
