.wrap {
    display: grid;
    grid-template-columns: minmax(0, 320px) 1fr;
    height: calc(100% - (56px + var(--app-distance-empty)));
    gap: var(--app-distance-empty);
}

.list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 8px;
}

.menu {
    pointer-events: all;
}

.detail {
    max-width: 660px;
    padding: unset;
    overflow: hidden;
}
