.wrap {
    display: grid;
    grid-template-columns: minmax(0, 320px) 1fr;
    height: 100%;
    gap: var(--app-distance-empty);;
}

.list {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 320px;
    gap: 8px;
}

.menu {
    pointer-events: all;
}

.detail {
    max-width: 660px;
}
