.plug {
    height: 100%;
}

.textarea {
    min-height: 124px;
}

.times {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
}

@media (max-width: 640px) {
    .times {
        grid-template-columns: minmax(0, 1fr);
    }
}

.save {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.as {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--vkui--color_background_modal);
}
