.wrap {
	display: grid;
	place-items: center;
	height: 100%;
}

.error {
	display: grid;
	place-items: center;
	position: relative;
	user-select: none;
	gap: var(--app-distance-empty);
}

.machine {
	position: relative;
	&__press {
		position: absolute;
		top: 40px;
		left: 0; right: 0;
		margin: 0 auto;
		animation: press 1s linear infinite;
	}
	&__gear {
		position: absolute;
		top: 150px;
		right: 3px;
		margin: 0 auto;
		animation: gear 1s linear infinite;
	}
	&__tape {
		position: absolute;
		top: 3px;
		left: 0;
		filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
	}
}

.code {
	position: absolute;
	display: flex;
	align-items: center;
	top: 140px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: fit-content;
	animation: code 1s linear infinite;
	&__symbol {
		color: var(--vkui--color_background);
		font-size: 70px !important;
		line-height: 90px !important;
		font-weight: 900 !important;
	}
	&__gear {
		margin-top: 8px;
		color: var(--vkui--color_background);
		animation: codeGear 1s linear infinite;
	}
}

.status {
	max-width: 520px;
	box-shadow: var(--vkui--elevation2);

	:global(.vkuiBanner__content) {
		align-items: center;
		:global(.vkuiBanner__subtitle) {
			text-align: center;
		}
	}
}

@keyframes press {
	0% {
		top: 40px;
	}
	15% {
		top: 70px;
	}
	60% {
		top: 70px;
	}
	100% {
		top: 40px;
	}
}

@keyframes gear {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(-70deg);
	}
	60% {
		transform: rotate(-70deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes code {
	20% {
		margin-top: 0;
	}
	25% {
		margin-top: 5px;
	}
	45% {
		margin-top: 0;
	}
}

@keyframes codeGear {
	0% {
		transform: rotate(0deg);
		margin-top: 8px;
	}
	15% {
		transform: rotate(70deg);
		margin-top: 8px;
	}
	60% {
		transform: rotate(70deg);
	}
	100% {
		transform: rotate(0deg);
		margin-top: 8px;
	}
}
